# Dependencies
node_modules

# Build outputs
.next
out
build
dist

# Misc
.git
.DS_Store
*.pem

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage

# Env files
.env*

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
